*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background: linear-gradient(
        30deg,
        rgba(210, 178, 212, 0.8) 0%,
        rgba(177, 183, 223, 0.8) 100%
    ); */
}
.calculator{

    background-color: #f2f2f2;
    border: solid 1px #ccc;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 40px;   
}

#result{
    width: 100%;
    height: 50px;
    font-size: 24px;
    text-align: right;
    padding-right: 10px;
    border: none;
    outline: none;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3) inset;
    border-radius: 5px;
}

.buttons{
    display: grid;
    /*4 columns with equal width*/
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-top: 20px; 
}

button{
    padding: 10px;
    font-size: 24px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover{
    background-color: #ddd;
}

.clear{
    background-color: #ff4136;
    color: #fff;
}

.number, .decimal{
    background-color: #fff;
    color: #333;
}

.operator{
    background-color: #0074d9;
    color: #fff;
}

.equals{
    background-color: #01ff70;
    color: #333;
    grid-row: span 3;
}
